:root, .theme-light, .theme-dark, * {
    --header-primary: #fff!important;
    --header-secondary: #b9bbbe!important;
    --text-normal: #dcddde!important;
    --text-muted: #72767d!important;
    --text-positive: hsl(139,calc(var(--saturation-factor, 1)*66.8%),58.6%)!important;
    --text-warning: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%)!important;
    --text-danger: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%)!important;
    --text-brand: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%)!important;
    --interactive-normal: #b9bbbe!important;
    --interactive-hover: #dcddde!important;
    --interactive-active: #fff!important;
    --interactive-muted: #4f545c!important;
    --modal-background: #221f2a!important;
    --background-primary: #221f2a!important;
    --background-secondary: #1e1a23!important;
    --background-secondary-alt: #211c26!important;
    --background-tertiary: #151218!important;
    --background-accent: #2e2b37!important;
    --background-floating: #1b181d!important;
    --background-mobile-primary: #08070a!important;
    --background-mobile-secondary: #08070a!important;
    --background-modifier-hover: #31323942!important;
    --background-modifier-active: #2b29339a!important;
    --background-modifier-selected: #2b29336e!important;
    --background-modifier-accent: hsla(0,0%,100%,0.06)!important;
    --info-positive-text: #fff!important;
    --info-warning-text: #fff!important;
    --info-danger-text: #fff!important;
    --info-help-background: hsla(197,calc(var(--saturation-factor, 1)*100%),47.8%,0.1)!important;
    --info-help-foreground: hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%)!important;
    --info-help-text: #fff!important;
    --status-warning-text: #000!important;
    --scrollbar-thin-thumb: #202225!important;
    --scrollbar-thin-track: transparent!important;
    --scrollbar-auto-thumb: #202225!important;
    --scrollbar-auto-track: transparent!important;
    --scrollbar-auto-scrollbar-color-thumb: #202225!important;
    --scrollbar-auto-scrollbar-color-track: transparent!important;
    --logo-primary: rgb(194, 194, 194)!important;
    --control-brand-foreground: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%)!important;
    --control-brand-foreground-new: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%)!important;
    --background-mentioned: hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.1)!important;
    --background-mentioned-hover: hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.08)!important;
    --background-message-hover: rgba(4,4,5,0.07)!important;
    --channels-default: #918e97!important;
    --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4)!important;
    --activity-card-background: #202225!important;
    --textbox-markdown-syntax: #8e9297!important;
    --deprecated-card-bg: rgba(32,34,37,0.6)!important;
    --deprecated-card-editable-bg: rgba(32,34,37,0.3)!important;
    --deprecated-store-bg: #36393f!important;
    --deprecated-quickswitcher-input-background: #72767d!important;
    --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3)!important;
    --deprecated-text-input-bg: rgba(0,0,0,0.1)!important;
    --deprecated-text-input-border: rgba(0,0,0,0.3)!important;
    --deprecated-text-input-border-hover: #040405!important;
    --deprecated-text-input-border-disabled: #202225!important;
    --deprecated-text-input-prefix: #dcddde!important;
    --button-secondary-background: var(--background-accent);
    --button-secondary-background-hover: #373242;
    --channeltextarea-background: var(--background-accent);
    --input-background: var(--background-accent);
